<!--
    This template loads for the 'tab.friend-detail' state (app.js)
    'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
    The FriendsCtrl pulls data from the Friends service (service.js)
    The Friends service returns an array of friend data
  -->
<ion-view view-title="{{solution.soln_name}}">
 <ion-content
	class="padding">
<div class="list list_item ">
	<div class="item item-avatar1">
      <img ng-src="{{solution.soln_icon}}" ng-if="solution.soln_icon != 'appicon.png' ">
		<img src="img/appicon.png" ng-if="solution.soln_icon == 'appicon.png'">
		<div class="row detail_row">
			<div class="col">
				<h2>{{solution.soln_name}}</h2>
				<h3 class="title_h">
					<span ng-repeat="indus in solution.industry">{{indus}} <span
						ng-if="indus != solution.industry[solution.industry.length-1]">,</span>
					</span>
				</h3>
				<span ng-switch on="solution.rating"> <span
					ng-switch-when="5"><img ng-src="img/stars.png" /></span> <span
					ng-switch-when="4"><img ng-src="img/stars4.png" /></span> <span
					ng-switch-when="3"><img ng-src="img/stars3.png" /></span> <span
					ng-switch-when="2"><img ng-src="img/stars2.png" /></span><span
					ng-switch-when="1"><img ng-src="img/stars1.png" /></span><span
					ng-switch-when="0"><img ng-src="img/stars5.png" /></span>
				</span>
				<h3 class="title_h">
					Solution Owner: <a id="email">e-mail@xxxx.com</a>
				</h3>
			</div>
		</div>

	</div>
</div>

<div class="line"></div>

<div class="ins_content">
	<div ng-if="solution.soln_images.length > 0">
		<div class="flexslider carousel">
			<ul class="slides">
				<li ng-repeat="image in solution.soln_images"
					on-finish-render="ngRepeatFinished"><img ng-src="{{image}}" /></li>
			</ul>
		</div>
	</div>

	<div class="title">
		Description:<a ng-show='more.show' ng-click="show_more()"
			id="down_img"></a><a ng-show='less.show' ng-click="show_less()"
			id="up_img"></a>
	</div>
	<h4 id="description" ng-bind-html="solution.description"></h4>
	<h4 class="title_h">
    <span class="emphasize">OSES:</span><span ng-repeat="ose in solution.platforms">{{ose}} <span
			ng-if="ose != solution.platforms[solution.platforms.length-1]">,</span>
		</span>
	</h4>
	<h4 class="title_h">
    <span class="emphasize">Devices:</span><span ng-repeat="dev in solution.device_type">{{dev}}
			<span
			ng-if="dev != solution.device_type[solution.device_type.length-1]">,</span>
		</span>
	</h4>
	<h4 class="title_h">
    <span class="emphasize">Supported Language:</span><span ng-repeat="language in solution.languages">{{language}}
			<span
			ng-if="language != solution.languages[solution.languages.length-1]">,</span>
		</span>
	</h4>
	<div class="line"></div>
	<div class="title"
		ng-if="solution.soln_docs.length > 0 || solution.soln_videos.length > 0">Documents:
	</div>
	<div class="list" ng-repeat="doc in solution.soln_docs">
		<div class="row">
			<div class="col">
				<img ng-src="img/book.jpg" class="book_s" />
			</div>
			<div class="col col-center">{{doc.name}}</div>
			<div class="col col-center col_d">
				<button class="button button_d" ng-click="download_file(doc.url,$event)" >Download</button>
			</div>
		</div>
		<div class="line"></div>
	</div>


	<div class="list" ng-repeat="video in solution.soln_videos">
		<div class="row">
			<div class="col">
				<img ng-src="img/book.jpg" class="book_s" />
			</div>
			<div class="col col-center">{{video.name}}</div>
			<div class="col col-center col_d">
        <button class="button button_d" ng-click="download_videos(video.url,$event)">Download</button>
			</div>
		</div>

		<div class="line"></div>
	</div>


	<span class="title">Update Time:</span><span class="title_c">
		2015-9-10</span>
</div>

<div id="download_wrap">
  <span ng-if="currentPlatform =='android'"><button class="button button-positive" ng-click="download_apk(solution.download_url.android)">Download&nbsp;&nbsp;({{solution.size.android}}MB)</button></span>
	<span ng-if="currentPlatform =='ios'"><button class="button button-positive" ng-click="download_apk(solution.download_url.iphone)">Download&nbsp;&nbsp({{solution.size.iphone}}MB)</button></span>
</div>
</ion-content> </ion-view>
