<!--
    This template loads for the 'tab.friend-detail' state (app.js)
    'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
    The FriendsCtrl pulls data from the Friends service (service.js)
    The Friends service returns an array of friend data
  -->
<link rel="stylesheet" type="text/css" href="../js/lib/flexslider.css" />
<ion-view view-title="{{solution.soln_name}}"> <ion-content
	class="padding">
<div class="list list_item ">
	<div class="item item-avatar1">
		<img ng-src="./img/{{solution.soln_icon}}">
		<div class="row detail_row">
			<div class="col">
				<h2>{{solution.soln_name}} </h2>
				<h3>
					<span ng-repeat="indus in solution.industry">{{indus}}   <span
					ng-if ="indus != solution.industry[solution.industry.length-1]">,</span>&nbsp;&nbsp;</span>
				</h3>
				<span ng-switch on="solution.rating"> <span
					ng-switch-when="10"><img ng-src="../img/stars.png" /></span> <span
					ng-switch-when="5"><img ng-src="../img/stars1.png" /></span> <span
					ng-switch-when="8"><img ng-src="../img/stars5.png" /></span> <span
					ng-switch-when="6"><img ng-src="../img/stars2.png" /></span>
				</span>
				<h3>
					Solution Owner: <a id="email">e-mail@xxxx.com</a>
				</h3>
			</div>
		</div>

	</div>
</div>

<div class="line"></div>

<div class="ins_content">
	<!-- <div class="img_wrap" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwiperight()">
	<div class="img_show">
	<div class="img_list"><img ng-src="../img/photo-show1.jpg"/></div><div class="img_list"><img
		ng-src="../img/photo-show2.jpg"/></div><div class="img_list"><img
		ng-src="../img/photo-show1.jpg"/></div><div class="img_list"><img
		ng-src="../img/photo-show1.jpg"/></div><div class="img_list"><img
		ng-src="../img/photo-show1.jpg"/></div><div class="img_list"><img
		ng-src="../img/photo-show1.jpg"/></div><div class="img_list"><img
		ng-src="../img/photo-show1.jpg"/></div><div class="img_list"><img
		ng-src="../img/photo-show1.jpg"/></div><div class="img_list"><img
		ng-src="../img/photo-show1.jpg"/></div>
        </div>
</div> -->
<!-- 	<div ng-if="solution.soln_images.length > 0" on-finish-render-filters></div> -->
	<div class="flexslider carousel">
		<ul class="slides">
			<li><img src="../img/photo-show1.jpg" /></li>
			<li><img src="../img/photo-show2.jpg" /></li>
			<li><img src="../img/photo-show1.jpg" /></li>
			<li><img src="../img/photo-show2.jpg" /></li>
			<li><img src="../img/photo-show1.jpg" /></li>
			<li><img src="../img/photo-show2.jpg" /></li>
		</ul>
	</div>

	<div class="title">
		Description:<a ng-show='more.show' ng-click="show_more()"
			id="down_img"></a><a ng-show='less.show' ng-click="show_less()"
			id="up_img"></a>
	</div>
	<h4 id="description">{{solution.description}}</h4><br/>
 	<h4>OSES:<span ng-repeat="ose in solution.avbl_on_oses">{{ose}}   <span
					ng-if ="ose != solution.avbl_on_oses[solution.avbl_on_oses.length-1]">,</span>&nbsp;&nbsp;</span></h4>
    <h4>Devices:<span ng-repeat="dev in solution.avbl_on_devices">{{dev}}   <span
					ng-if ="dev != solution.avbl_on_devices[solution.avbl_on_devices.length-1]">,</span>&nbsp;&nbsp;</span></h4>
    <h4>Supported Language:</h4>
	<div class="line"></div>
	<div class="title" ng-if="solution.soln_docs.length > 0 || solution.soln_videos.length > 0">Documents: </div>
	<div class="list" ng-repeat="doc in solution.soln_docs">
		<div class="row">
			<div class="col">
				<img ng-src="../img/book.jpg" class="book_s" />
			</div>
			<div class="col col-center">{{doc}}</div>
			<div class="col col-center col_d">
				<button class="button button_d">Download</button>
			</div>
		</div>
			<div class="line"></div>
	</div>


	<div class="list" ng-repeat="video in solution.soln_videos">
		<div class="row">
			<div class="col">
				<img ng-src="../img/book.jpg" class="book_s" />
			</div>
			<div class="col col-center">{{video}}</div>
			<div class="col col-center col_d">
				<button class="button button_d">Download</button>
			</div>
		</div>
		
	<div class="line"></div>
	</div>


	<span class="title">Update Time:</span><span class="title_c">
		2015-9-10</span>
</div>

<div id="download_wrap">
	<button class="button button-positive">Download&nbsp;&nbsp;({{solution.size}}MB)</button>
</div>
</ion-content> </ion-view>