<ion-view view-title="Category All">

  <ion-nav-title>
    <img ng-src="img/logo.png" class="logo_s">
    Hoop
    <div class="bar bar-header">
      <button class="button button-icon icon ion-navicon button_b"></button>
      <button class="button button-icon icon ion-search button_b"></button>
    </div>
  </ion-nav-title>

  <ion-content class="padding category_content">
    <a class="button button-clear ion-arrow-right-b button_by"></a><b class="by_title">By Industry</b>

    <div class="row">
      <div class="col">CME</div>
      <div class="col">Healthcare</div>
    </div>
    <div class="row">
      <div class="col">Manufacture</div>
      <div class="col">Finace</div>
    </div>
    <div class="row row_last">
      <div class="col">ETC</div>
      <div class="col"></div>
    </div>
    <div class="line_category"></div>

    <a class="button button-clear ion-arrow-right-b button_by"></a><b class="by_title">By Technology</b>

    <div class="row">
      <div class="col">Kony</div>
      <div class="col">LBS</div>
    </div>
    <div class="row">
      <div class="col">SAP</div>
      <div class="col">Hydra</div>
    </div>
    <div class="row row_last">
      <div class="col">ETC</div>
      <div class="col"></div>
    </div>
    <div class="line_category"></div>

    <a class="button button-clear ion-arrow-right-b button_by"></a><b class="by_title">By Tag</b>

    <div class="row">
      <div class="col">iBeacon</div>
      <div class="col">Social</div>
    </div>
    <div class="row row_last">
      <div class="col">Mobile Learning</div>
      <div class="col">ETC</div>
    </div>

  </ion-content>
</ion-view>
