/* solutions page */
.solution_row {
  width: 65%;
}

.button_download_dash {
  float: right;
  margin-right: 20px;
  margin-top: -70px;
  z-index: 500;
}

/* solution-detail page */
.list_item {
  margin-left: -10px;
  margin-right: -10px;
}

.list_item {
  .item {
    border: none;
    padding: 24px 26px 0 20px;
  }
}

.detail_row {
  padding-left: 100px;
}

.item-avatar1 > {
  img {
    &:first-child {
      width: 80px;
      height: 80px;
      position: absolute;
    }
  }
}

.line {
  border-top: 1px #d5d5d5 solid;
  margin: 10px 0;
}

#download_wrap {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 32px;

}

.ins_content {
  margin-top: 30px;
}

.title {
  color: #09B1DD;
  font-weight: bold;
  font-size: 20px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.title_c {
  font-size: 18px;
  color: #787777;
  font-weight: bold;
}

.button_d {
  color: #09B1DD;
  background-color: #fff;
  border: 2px #09B1DD solid;
}

#description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#down_img, #up_img {
  width: 30px;
  height: 18px;
  float: right;
  margin-right: 15px;
}

#down_img {
  background: url(../img/down.png) no-repeat;
}

#up_img {
  background: url(../img/up.png) no-repeat;
}

.col_d {
  text-align: right;
}

#email {
  color: #09B1DD;
  text-decoration: underline;
}

.book_s {
  width: 63px;
  height: 85px;
}

#description, .title_h {
  color: #787777;
}

.emphasize {
  color: #000;
}
